<h2 style="text-align: center"><%= t('.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render partial: "devise/shared/field",
        locals: {
          id: "email-input",
          label: f.label(:email),
          field: f.email_field(:email, autofocus: true, id: "email-input"),
          style: "left: -6px"
        } %>

  <div class="actions" style="margin-top: 15px;">
    <%= f.submit t('.send_me_reset_password_instructions'),
          class: 'v-btn v-btn--has-bg theme--light v-size--default primary',
          style: 'width: 100%' %>
  </div>
<% end %>

<div style="text-align: center">
  <%= render "devise/shared/links" %>
</div>
