<h1 style="text-align: center"><%= t('.sign_in') %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render partial: "devise/shared/error_message", locals: { message: flash.alert } %>

  <%= render partial: "devise/shared/field",
        locals: {
          id: "email-input",
          label: "Email",
          field: f.email_field(:email, id: "email-input"),
          style: "left: -6px"
        } %>

  <%= render partial: "devise/shared/field",
        locals: {
          id: "password-input",
          label: "Contraseña",
          field: f.password_field(:password, id: "password-input"),
          style: "left: -10px"
        } %>

  <!--
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  -->

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions" style="margin-top: 15px;">
    <%= f.submit t('.sign_in'),
          class: 'v-btn v-btn--has-bg theme--light v-size--default primary',
          style: 'width: 100%' %>
  </div>
<% end %>

<div style="text-align: center">
  <%= render "devise/shared/links" %>
</div>
